<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="loading">
    <h1>Loading...</h1>
  </ion-item>

  <ion-list>
    <ion-item
      *ngFor="let pokemon of pokemonList"
      [routerLink]="['/pokemon-list', pokemon.id]"
    >
      <ion-avatar slot="start">
        <ion-img src="{{ getThumpnailUrl(pokemon.id) }}"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ pokemon.name.english }}</h2>
        <h3></h3>
      </ion-label>
      <ion-button fill="outline" slot="end">{{ pokemon.id }}</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
