<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="loading">
    <h1>Loading...</h1>
  </ion-item>

  <ion-virtual-scroll
    [items]="pokemonList"
    *ngIf="!loading"
    approxItemHeight="320px"
  >
    <ion-item *virtualItem="let pokemon" detail="true">
      <ion-avatar slot="start">
        <ion-img src="{{ pokemon.imageUrl }}"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ pokemon.name }}</h2>
        <h3></h3>
      </ion-label>
      <ion-button fill="outline" slot="end">{{ pokemon.id }}</ion-button>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
